* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

img {
  width: 100%;
}

.course {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: green;
}

.redcar {
  position: absolute;
  width: 10rem;
}

.yellowcar {
  position: absolute;
  width: 10rem;
}

.east {
  transform: rotate(0);
}

.north {
  transform: rotate(-90deg);
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}
